.q{
   color: orange;
}
.w{
   color: rebeccapurple;
}

.big{
   width: 100px;
   height: 100px;
   background-color: red;
}
.sm{
   width: 50px;
   height: 5px;
   background-color: rgb(98, 0, 255);
}